:root {
    /* Colors */
    --c-primary: #0000FF;
    --c-secondary: #FF0000;
    --c-accent: #FFFF00;
    --c-bg-l: #F0F0F0;
    --c-bg-d: #333333;

    /* Fonts */
    --f-primary: 'Roboto', sans-serif;

    /* Sizes */
    --fs-header: 1.2rem;
    --fs-subheader: 1.1rem;
    --fs-text: 1rem;
    --fs-subtext: 0.8rem;
    --s-padding: 0.5rem;
    --s-padding-l: 1rem;
    --s-margin: 0.5rem;
    --s-border-radius: 0.5rem;
}